<?xml version="1.0"?>

 <!--
 
   Created Or Edited on: 15/09/2015
   Author: Dott. Antonio Mauro Galiano
 	   antoniomauro.galiano@gmail.com

   -->
<launch>

  <arg name="scan_topic" default="laser" />

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="base_footprint"/>
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="10"/>

    <remap from="scan" to="$(arg scan_topic)"/>
  </node>
</launch>
